
.buttonAddProduct {
  background-color: #228B22;
  border: 0;
  color: white;
  padding: 14px 18px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.buttonAddProduct:hover {
  background-color: #3CB371;
}

.mx-auto d-block {
  text-align: center;
  max-width: 250px;
  height: 350px;
}

.buttonDelete {
  background-color: #DC143C;
  border: 0;
  color: white;
  padding: 12px 16px;
  font-size: 13px;
  cursor: pointer;
}

.buttonDelete:hover {
  background-color: #FF0000;
}

.buttonQuit {
  background-color: #008B8B;
  border: 0;
  color: white;
  padding: 12px 16px;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  display: block;
}

.buttonQuit:hover {
  background-color: #20B2AA;
}

.responsive {
  max-width: 100%;
  height: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.active {
  background-color: #4CAF50;
}